
	
	
	
	
	
	body{
		width:1600px;
	}
	/*div svg */

	#div_svg{
			padding-left:10px;
			padding-top:10px;
			padding-right:10px;
			padding-bottom:10px;
			width:1200px;
			height:1200px;
			margin-left:320px;
			border:1px solid;
			overflow:auto;	
			/*background:#333333;*/
		}
		

	/*div config*/	


	#div_config{
		
		padding-left:10px;
		padding-top:10px;
		padding-right:10px;
		padding-bottom:10px;
		width:300px;
		height:1200px;
		border:1px solid;
		float:left;
		font-size:12px;
		background:silver;
	}

	#div_config button{
		height:15px;
		font-size:12px;
		margin-left:10px;
	}

	#div_config input{
		height:20px;
		font-size:10px;

	}

	#div_config input[type=submit]{
		border-radius:10px;
	}

	#div_config input[type=text]{
		height:15px;
		width:100px
	}
	/* vetrical toolbar starts*/

	nav {
	  font-family: Helvetica, Arial, "Lucida Grande";
	  font-size: 13px;
	  line-height: 1.5;
	  margin: 50px auto;
	  width: 250px;
	  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
		 -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
			  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	}

	.menu-item {
	  background: silver;
	  width: 250px; 
	}

	/*Menu Header Styles*/
	.menu-item h4 {
	  border-bottom: 1px solid rgba(0,0,0,0.3);
	  border-top: 1px solid rgba(255,255,255,0.2);
	  color: #fff;
	  font-size: 12px;
	  font-weight: 500;
	  padding: 7px 12px;
	  background: steelblue;
	 
	}

	.menu-item h4:hover{  
	  background: black;ave javascript script
	}

	.menu-item h4 a {
	  color: white;
	  display: block;
	  text-decoration: none;
	  width: 200px;
	}

	/*ul Styles*/
	.menu-item ul {
	  background: #fff;
	  font-size: 12px;
	  line-height: 30px;
	  height: 0px;
	  list-style-type: none;
	  overflow: hidden;
	  padding: 0px;
	  
	  /*Animation*/
	  -webkit-transition: height 1s ease;
		 -moz-transition: height 1s ease;
		   -o-transition: height 1s ease;
		  -ms-transition: height 1s ease;
			  transition: height 1s ease;
	}


	.menu-item ul {
	  height: 93px;
	  
	}
	#globalconfig.menu-item ul{
		height:223px;
	}
	#downloadconfig.menu-item ul{
		height:240px;
	}
	
	#cellplot.menu-item  ul{
		height:100px;
	}
	#tfconfig.menu-item ul{
		height:140px;
	}
	#geneconfig.menu-item ul{
		height:160px;
	}

	/*li Styles*/

	.menu-item li {

	  border-bottom: 1px solid #eee;
	  margin-left: 10px;
	  text-decoration: none;
	  color: #black;
	  display: block;
	  width: 250px;

	}

	/*
	.menu-item li:hover {
	  background: #eee;
	}
	*/
	.menu-item li a:hover {
	  background: #eee;
	}

	/*First Item Styles*/
	.alpha p {
		padding: 8px 12px;
		color: #aaa;
	}

	input .checkbox{
	  width: 13px;
	  height: 13px;
	  padding: 0;
	  margin:0;
	  vertical-align:middle;
	  position: relative;
	  overflow: hidden;
	}

	/* vetrical toolbar ends*/

	/*bar chart */

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	  color:red;
	}
	.axis{
		color: red;
	}
	
	
	
	